<div class="container">
  <div class="col-sm mt-4">
    <form [formGroup]="logForm" (ngSubmit)="onSubmit(logForm.value)">
      <div class="form-group">
        <label for="exampleInputEmail1">Paste the CleverTap Debug logs here</label>
        <textarea type="email" class="form-control" id="exampleInputEmail1" formControlName="log" rows="20"></textarea>
        <small id="emailHelp" class="form-text text-muted">Please filter the logs in logcat using the string 'CleverTap'
          for Android and string '[Clevertap]' for iOS before pasting here.</small>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!logForm.valid">Evaluate</button>
    </form>
  </div>

  <div class="mt-4" *ngIf="metadata || queue">
    <h1>Audit results</h1>
    <div class="mt-4" *ngIf="metadata">
      <h2>Metadata</h2>
      <p><span *ngFor="let item of metadata | keyvalue" placement="top" ngbTooltip="{{item.key}}">{{item.value}} |
        </span></p>
    </div>
  </div>

  <div class="mt-4" *ngFor="let queueItem of queue; let i=index">
    <div class="alert alert-secondary" role="alert">
      <h3>Queue <span class="badge badge-light">{{i+1}}</span>
      </h3>
    </div>
    <div class="mt-4" *ngIf="queueItem.meta">
      <h2>Meta Updates</h2>
      <div class="mt-4" *ngFor="let datum of queueItem.meta">
        <div class="alert alert-primary" role="alert">
          CTID : {{datum.g}}
        </div>
        <p><span *ngFor="let item of datum.af | keyvalue" placement="top" ngbTooltip="{{item.key}}">{{item.value}} |
          </span></p>
      </div>
    </div>

    <div class="mt-4" *ngIf="queueItem.events">
      <h2 *ngIf="queueItem.events.length>0">Events</h2>
      <div class="mt-4" *ngFor="let event of queueItem.events">
        <div class="alert alert-success" role="alert">
          <h5>{{event.evtName}} <span class="badge badge-dark" *ngIf="event.f">First Session</span></h5>
          <p>{{event.ep | datePipe}}</p>
          <p><span *ngFor="let item of event.evtData | keyvalue" placement="top"
              ngbTooltip="{{item.key}}">{{item.value}} | </span></p>
        </div>
      </div>
    </div>

    <div class="mt-4" *ngIf="queueItem.profile">

      <h2 *ngIf="queueItem.profile.length>0">Profile Updates</h2>
      <div class="mt-4" *ngFor="let profileUpdate of queueItem.profile">
        <h5>{{profileUpdate.evtName}} <span class="badge badge-dark" *ngIf="profileUpdate.f">First Session</span></h5>
        <p>{{profileUpdate.ep | datePipe}}</p>

        <p><span *ngFor="let item of profileUpdate.profile | keyvalue" placement="top"
            ngbTooltip="{{item.key}}">{{item.value}} | </span></p>
      </div>
    </div>

    <div class="mt-4" *ngIf="queueItem.data">
      <h2 *ngIf="queueItem.data.length>0">Data Updates</h2>
      <div class="mt-4" *ngFor="let datum of queueItem.data">
        <div class="alert alert-info" role="alert">
          <h5>{{datum.data.action}} <span class="badge badge-dark" *ngIf="datum.f">First Session</span></h5>
          <p>{{datum.ep | datePipe}}</p>
          <p><span *ngFor="let item of datum.data | keyvalue" placement="top" ngbTooltip="{{item.key}}">{{item.value}} |
            </span></p>

        </div>
      </div>
    </div>
    <hr>

  </div>
  <!--router-outlet></router-outlet -->
