<div class="container">
  <div class="mt-4">
    <form #myForm="ngForm" [formGroup]="logForm" (ngSubmit)="onSubmit(logForm.value)">
      <div class="form-group">
        <textarea type="email" class="form-control" id="exampleInputEmail1" formControlName="log" rows="10"
          placeholder="Paste the CleverTap Debug logs here"></textarea>
        <small id="emailHelp" class="form-text text-muted">Please filter the logs in logcat using the string 'CleverTap'
          for Android and string '[Clevertap]' for iOS before pasting here.</small>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!logForm.valid">Evaluate</button>
      <button type="button" (click)="myForm.reset(); reset()" class="btn btn-secondary ml-2">Clear</button>
    </form>
  </div>

  <div class="mt-4" *ngIf="showResults()">
    <h1>Audit results</h1>
    <div class="mt-4" *ngIf="metadata">
      <h2>Metadata</h2>
      <!--p><span *ngFor="let item of metadata | keyvalue" placement="top" ngbTooltip="{{item.key}}">{{item.value}} |
        </span></p-->
      <div *ngFor="let item of metadata | keyvalue">
        <p [ngClass]="{'text-success':item.value,'text-danger': !item.value}">{{item | metaToEnglish}}</p>
      </div>
    </div>
  </div>

  <div class="mt-4" *ngFor="let queueItem of queue; let i=index">
    <!--div class="alert alert-secondary" role="alert">
      <h3>Queue <span class="badge badge-light">{{i+1}}</span>
      </h3>
    </div-->
    <!--div class="mt-4" *ngIf="queueItem.meta">
      <h2>Meta Updates</h2>
      <div class="mt-4" *ngFor="let datum of queueItem.meta">
        <div class="alert alert-primary" role="alert">
          CTID : {{datum.g}}
        </div>
        <p><span *ngFor="let item of datum.af | keyvalue" placement="top" ngbTooltip="{{item.key}}">{{item.value}} |
          </span></p>
      </div>
    </div-->

    <div class="mt-4" *ngIf="queueItem.profile">

      <h2 *ngIf="queueItem.profile.length>0">Profile Updates</h2>
      <div class="mt-4" *ngFor="let profileUpdate of queueItem.profile">
        <h5>{{profileUpdate.evtName}} <span class="badge badge-dark" *ngIf="profileUpdate.f">First Session</span></h5>
        <p>{{profileUpdate.ep | datePipe}}</p>

        <p><span *ngFor="let item of profileUpdate.profile | keyvalue" placement="top"
            ngbTooltip="{{item.key}}">{{item.value}} | </span></p>
      </div>
    </div>

    <div class="mt-4" *ngIf="queueItem.data">
      <h2 *ngIf="queueItem.data.length>0">Data Updates</h2>
      <div class="mt-4" *ngFor="let datum of queueItem.data">
        <div class="alert alert-info" role="alert">
          <h5>{{datum.data.action}} <span class="badge badge-dark" *ngIf="datum.f">First Session</span></h5>
          <p>{{datum.ep | datePipe}}</p>
          <p><span *ngFor="let item of datum.data | keyvalue" placement="top" ngbTooltip="{{item.key}}">{{item.value}} |
            </span></p>
        </div>
      </div>
    </div>
  </div>

  <h2 *ngIf="queue && queue.length>0">Events</h2>
  <div class="mt-4" *ngFor="let queueItem of queue | reverse; let i=index">
    <div class="mt-4" *ngIf="queueItem.events">
      <div class="mt-4" *ngFor="let event of queueItem.events | reverse">
        <div>
          <h5>{{event.evtName}} <i class="material-icons text-success"
              *ngIf="EDSMap.size>0 && isEventInEDS(event.evtName)">
              check_circle_outline
            </i>
            <i class="material-icons text-danger" *ngIf="EDSMap.size>0 && !isEventInEDS(event.evtName)">
              highlight_off
            </i>
            <a class="small ml-2" *ngIf="event.CTID" href={{getProfileUrl(event.CTID)}} target="_blank">
              View Profile</a></h5>
          <p class="small mb-0">{{event.ep | datePipe}}</p>
          <p class="small">CTID : {{event.CTID}}</p>
          <span class="badge badge-dark" *ngIf="event.f">First Session</span>
          <p class="mt-2">
            <span *ngFor="let item of event.evtData | keyvalue" placement="top" ngbTooltip="{{item.key}}">
              <span *ngIf="EDSMap.size>0"
                [ngClass]="{'text-success':isEventPropertyInEDS(event.evtName, item.key),'text-danger': !isEventPropertyInEDS(event.evtName,item.key)}">{{item.value}}</span>
              <span *ngIf="EDSMap.size==0">{{item.value}}</span> | 
            </span>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4">
    <h3>Events Design Fidelity</h3>
    <p>Compare the events raised with the definitions in the Events Design Sheet CSV.</p>
    <div class="input-group">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01"
          (change)="onFileSelect($event.target)" name="myfile">
        <label class="custom-file-label" for="inputGroupFile01">Select the Events Design CSV file</label>
      </div>
    </div>

    <table class="table" *ngIf="EDSMap.size>0">
      <thead>
        <tr>
          <th>Event Name</th>
          <th>Event Property</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of EDSMap | keyvalue">
          <td [ngClass]="{'text-success':wasEventRaised(item.key)}">{{item.key}}</td>
          <td>
            <table class="table">
              <tbody>
                <tr *ngFor="let property of item.value">
                  <td [ngClass]="{'text-success':wasEventPropertyRaised(item.key, property)}">
                    {{property}}
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



<!--router-outlet></router-outlet -->
